// scss/base/_typography.scss
.h2,
.h3,
.h4,
.h5 {
  color: var(--white-2);
  text-transform: capitalize;
}

.h2 {
  font-size: var(--fs-1);
}
.h3 {
  font-size: var(--fs-2);
}
.h4 {
  font-size: var(--fs-4);
}
.h5 {
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
}

.article-title {
  position: relative;
  padding-bottom: 7px;
}

.article-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background: var(--text-gradient-yellow);
  border-radius: 3px;
}

p.copyright {
  color: var(--light-gray);
  justify-self: center;
  margin-top: 8px;
  font-size: 12px;
  display: none;
  position: fixed;
  bottom: 0;
}
